---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import PlayerCard from "../components/PlayerCard.astro";
import Hero from "../components/Hero.astro";

const players = [
  { number: "01", firstName: "Henry", lastName: "Gugler" },
  { number: "02", firstName: "Derek", lastName: "Am" },
  { number: "03", firstName: "Parker", lastName: "Case" },
  { number: "04", firstName: "Jimmy", lastName: "Gibson" },
  { number: "05", firstName: "Jaden", lastName: "Larson" },
  { number: "06", firstName: "Cameron", lastName: "Jagher" },
  { number: "07", firstName: "Eli", lastName: "Humphries" },
  { number: "08", firstName: "Carson", lastName: "Yehl" },
  { number: "09", firstName: "Henry", lastName: "Smith" },
  { number: "10", firstName: "Thomas", lastName: "Kramer" },
  { number: "11", firstName: "Atticus", lastName: "Susol" },
];
---

<Layout title="U8 Wolves Players">
  <Nav />
  <main>
    <Hero title="Players" />
    <section>
      <ul class="player-card-list">
        {players.map((player) => <PlayerCard {...player} />)}
      </ul>
    </section>
  </main>
</Layout>

<style>
  .player-card-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    margin-bottom: 5rem;
  }
</style>
